flows_bt_location.json
[
    {
        "id": "4016b5ee.c4915c",
        "type": "tab",
        "label": "BT Scanning",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a392629f.e1d71",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.5",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "74f22a69.aae874",
        "type": "BLE scanner",
        "z": "4016b5ee.c4915c",
        "name": "",
        "services": "",
        "servicesType": "str",
        "continuous": false,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "6840e7a.f1f2d18"
            ]
        ]
    },
    {
        "id": "f97d1789.df7058",
        "type": "inject",
        "z": "4016b5ee.c4915c",
        "name": "Start default",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "start",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "fe7fdef9.0325f"
            ]
        ]
    },
    {
        "id": "cc66f0f9.85946",
        "type": "debug",
        "z": "4016b5ee.c4915c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "fe7fdef9.0325f",
        "type": "change",
        "z": "4016b5ee.c4915c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "continuous",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "74f22a69.aae874"
            ]
        ]
    },
    {
        "id": "dd2356ed.64ace8",
        "type": "mqtt out",
        "z": "4016b5ee.c4915c",
        "name": "",
        "topic": "bluetooth_array",
        "qos": "1",
        "retain": "",
        "broker": "a392629f.e1d71",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "6840e7a.f1f2d18",
        "type": "change",
        "z": "4016b5ee.c4915c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"peripheral\": $.peripheral,\t   \"rssi\":$.rssi,\t   \"timestamp\": $now(),\t   \"rxDevice\": \"pi3\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "cc66f0f9.85946",
                "dd2356ed.64ace8"
            ]
        ]
    }
]